In [6]:
import yfinance as yf

In [7]:
ticker = "AMZN"
data = yf.download(ticker, period="2y")

[*********************100%%**********************]  1 of 1 completed

In [4]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-10-28,189.570007,190.210007,188.210007,188.389999,188.389999,27930800
2024-10-29,188.580002,191.460007,187.820007,190.830002,190.830002,35690200
2024-10-30,194.699997,195.610001,192.419998,192.729996,192.729996,37707600
2024-10-31,190.509995,190.600006,185.229996,186.399994,186.399994,75146800
2024-11-01,199.000000,200.500000,197.020004,197.929993,197.929993,99571700

In [4]:
sofi = yf.Ticker("QQQ")

# get historical market data
hist = sofi.history(period="1y")

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2023-07-20 00:00:00-04:00,379.987677,381.467485,373.144915,374.177795,71941700,0.0,0.0,0.0
2023-07-21 00:00:00-04:00,376.581138,377.316086,372.618494,373.055481,60439400,0.0,0.0,0.0
2023-07-24 00:00:00-04:00,374.038709,374.992121,371.774337,373.651398,40380100,0.0,0.0,0.0
2023-07-25 00:00:00-04:00,374.366485,377.862349,374.346603,376.183929,38894400,0.0,0.0,0.0
2023-07-26 00:00:00-04:00,375.131198,376.640769,372.608598,374.932556,47075700,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-07-15 00:00:00-04:00,496.609985,501.010010,494.089996,496.149994,31151400,0.0,0.0,0.0
2024-07-16 00:00:00-04:00,497.619995,498.440002,493.149994,496.339996,25950600,0.0,0.0,0.0
2024-07-17 00:00:00-04:00,488.279999,488.799988,481.700012,481.769989,56268800,0.0,0.0,0.0
2024-07-18 00:00:00-04:00,485.529999,485.709991,476.269989,479.489990,49347400,0.0,0.0,0.0
2024-07-19 00:00:00-04:00,479.149994,481.690002,473.940002,475.239990,41958200,0.0,0.0,0.0

In [9]:
data.to_csv(f'../dataset/{ticker}.csv', header=True)